{{define "main"}}

<h1>Problem</h1>

<h2>Accessing .Site.Params (noticed within the isset function):</h2>
<p>In the config I defined two site parameters as follows</p>

<pre>
    [params]
    alllowercase = "lowercase"
    camelCaseParameter = "camelCase."
</pre>

{{ $sites :=  slice .Site ($.Site.GetPage "/test/article")}}

{{range $index, $site := $sites}}

<h2>Test {{$site}}</h2>

{{ $tests := slice "alllowercase" "camelCaseParameter" "camelcaseparameter" }}
{{ $expectation := slice true true false }}
<p>We run following test case:</p>
<pre>
    {{ printf "%#v" $tests}}
</pre>

<ol>
{{ range $index, $element := $tests }}
<li>
<b>Run Test Case - '{{.}}'</b>

<p>isset $.Site.Params {{.}}</p>
{{ $result := false}}

{{ if (isset $.Site.Params .) }}
{{$result = true}}
{{ end }}

<div class='test-case {{ cond $result "pass" "fail" }}'>
    <p class="{{ cond (index $expectation $index) "pass" "fail" }}">
        Expected: {{index $expectation $index}} 
    </p>
    <p>Result: {{$result}}</p>
</div>
</li>
{{ end }}
</ol>

{{end}}

<h3>Evaluation</h3>

<p>In Hugo v0.55.6<br>
    Hugo Static Site Generator v0.55.6-A5D4C82D windows/amd64 BuildDate:
    2019-05-18T07:57:00Z</p>

    <p>For me 2 (expected:true, result:false) and 3 (expected:false, result:true)  failed.</p>



<p></p>


<h2>Accessing files with the . notation works case-insensitive</h2>
<b>$.Site.Params.alllowercase</b>
<p>{{ $.Site.Params.alllowercase }}</p>

<b>$.Site.Params.camelCaseParameter</b>
<p>
    {{ $.Site.Params.camelCaseParameter }}
</p>

<b>$.Site.Params.camelcaseparameter</b>
<p>
    {{ $.Site.Params.camelcaseparameter }}
</p>


<b>$.Site.Params.CamElcAsEParAmetEr</b>
<p>
    {{ $.Site.Params.CamElcAsEParAmetEr }}
</p>

<h3>Here's the produced map:</h3>
<pre>{{  printf "%#v" $.Site.Params  }}</pre>
<p>Notice, that our camel case was transformed into lowercase.<br> It seems like
    the camelcase is transformed into lowercase leading to functions like isset
    and index to fail. But accessing with the value with the . operator seems to
    transform the provided key to lowercase.</p>



{{end}}